<%= form_with(model: @product) do |form| %>
 

  <div class="field">
    <%= form.label :Title %>
    <%= form.text_field :Title %>
  </div>
  <br>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description , rows:8, cols: 60%>
  </div>
  <br>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>
  <br>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>
  <br>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>
  <br>


  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
