<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.Title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>color:</strong>
  <%= @product.color %>
</p>

<%= link_to 'Back', products_path %>
